.slate-popup-item.glossary-item {
  cursor: pointer;
}

.icon.glossary-icon {
  vertical-align: top;
}

.glossary-popup {
  width: max-content;
  max-width: 30vw;
  font-size: 14px;

  ul {
    margin: 0px;
    padding-inline-start: 20px;
  }
}
