.slate-popup-item.glossary-item {
  cursor: pointer;
}

.icon.glossary-icon {
  vertical-align: top;
}

.ui.popup.glossary-popup {
  width: max-content;
  max-width: 550px;
  font-size: 14px;
  padding: 1em;

  ul {
    margin: 0;
    padding-inline-start: 20px;
  }

  @media only screen and (max-width: 580px) {
    max-width: 450px;
  }

  @media only screen and (max-width: 450px) {
    max-width: 320px;
  }

  @media only screen and (max-width: 320px) {
    max-width: 280px;
  }
}
